header{
  text-align: center;
  font-size: 30px;
  color: rgb(2, 212, 2);
}

.cell-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 700px;
    height: 700px;
    margin: auto;
  }

  .boton{
    display: flex;
    justify-content: center;
  }
  button{
    background-color: rgb(2, 212, 2);
    height: 50px;
  }

  body{
    background-image: url(https://w0.peakpx.com/wallpaper/130/87/HD-wallpaper-fantasy-forest1-colors-kid-safe-fantasy-silly.jpg);
    background-position: 50%;
    background-size: 2000px;
  }
  p{
    text-align: center;
    font-size: 35px;
    color: rgb(2, 212, 2);
  }
  