body {
  font-family: Arial, sans-serif;
  background-color: rgb(255, 248, 157);
  color: rgb(243, 45, 31);
}

header {
  text-align: center;
  padding: 20px;
  color: rgb(255, 136, 0);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo img {
  max-width: 100%;
  height: auto;
}

#start-btn {
  display: block;
  margin: 20px auto;
}

#quiz {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffbf35;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.hide {
  display: none;
}

#timer-container {
  text-align: center;
}

#question {
  margin-bottom: 20px;
}

#question img {
  max-width: 100%;
  height: auto;
}

#answers label {
  display: block;
}

#next-btn {
  display: block;
  margin: 20px auto;
}

#result-container {
  text-align: center;
}

#result-container h2 {
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  #quiz {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 0;
    box-shadow: none;
  }

  #question {
    margin-bottom: 10px;
  }

  #next-btn {
    margin-top: 10px;
  }
}